/*.aux
/*.bak
/*.bbl
/*.blg
/*.brf
/*.def
/*.equ
/*.exp
/*.gz
/*.gz(busy)
/*.idx
/*.ilg
/*.lis
/*.listing
/*.lof
/*.log
/*.loq
/*.lot
/*.nav
/*.out
/*.pyg
/*.sav
/*.sigla
/*.siglax
/*.snm
/*.stf
/*.symbols
/*.symbolsx
/*.synctex
/*.synctex(busy)
/*.toc
/*.xwm
/*.fls
/*.ind
/*.fdb_latexmk